{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row" style="text-align: center; justify-content: center">
            <p id="gd"><h2>Create Account</h2></p>
            <hr class="w-25" style="height: 5px">
        </div>
    </div>
    <div class="container w-75">
    <form method="post">
        {% csrf_token %}
        <div class="container mt-5" style="text-align: left">
            {{ form.as_p }}
        </div>
        <button type="submit">Sign Up</button>
    </form>
    </div>
{% endblock %}
